
<div class=question_index>
  <h2>Question List</h2>
  <table class="table table-bordered">
    <thread>
      <tr>
        <th>Title</th>
        <th>QuestionType</th>
        <th>Delete</th>
      </tr>
    </thread>
    <tbody>
      <% if @questions.blank? %>
      <tr>
        <td colspan="4" align="center"> No Record Found </td>
      </tr>
      <% else %>
        <% @questions.each do |q| %>
          <tr>
            <td><%= q.title %></td>
            <td><%= q.question_type %></td>
            <td> <%= link_to 'Destroy', quiz_question_path(id: q.id), method: :DELETE %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <%= link_to "Back", :back, class:"btn btn-link" %>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

