<div class=quiz_index>
  <h2>Quiz Result</h2>
  <table class="table table-bordered">
    <thread>
      <tr>
        <th>Question</th>
        <th>Answers</th>
      </tr>
    </thread>
    <tbody>
      <% if @results.blank? %>
        <tr>
          <td colspan="4" align="center"> No Record Found </td>
        </tr>
      <% else %>
        <% @results.each do |result| %>
          <tr>
            <td><%= result.first %></td>
            <td><%= result.last.split(",").join("<br/>").html_safe %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <%= link_to "Back", :back, class:"btn btn-primary" %>
    </div>
    <div class="col-md-3">
      <li><%= link_to 'Add Quiz', new_quiz_path, :class => 'btn btn-primary' if current_user.admin? %></li>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

